@import "../../app.scss";

.infoContainer {
  width: 90%;
  text-align: center;
  @include mobile {
    width: 90%;
    text-align: center;
    padding-bottom: 65px;
  }
}

.lineAnim {
  margin: auto;
  width: 50%;
}

.linkedin {
  font-size: 30px;
  color: rgb(179, 2, 134);
}

.linkedin:hover {
  font-size: 40px;
  color: rgb(219, 0, 164);
}

.github {
  font-size: 30px;
  color: rgb(179, 2, 134);
}
.github:hover {
  font-size: 40px;
  color: rgb(219, 0, 164);
}
.name {
  color: rgb(235, 234, 234);
}

.info {
  color: rgb(195, 193, 193);
}

.infotext {
  color: rgb(195, 193, 193);
}
