.infoContainer {
  width: 100%;
}

.linkedin {
  font-size: 30px;
}
.linkedin:hover {
  font-size: 40px;
  color: rgb(238, 0, 255);
}

.github {
  font-size: 30px;
}
.github:hover {
  font-size: 40px;
  color: rgb(238, 0, 255);
}
