.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #bf128e;
  color: #000000;
  z-index: 1;
  clip-path: "circle(30px at 50px 50px)";

  .bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background: rgb(219, 0, 164);
    z-index: 1;

    .links {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      a {
        font-size: 40px;
      }
    }
  }

  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
}
