html {
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000000;
  color: #d7d7d7;
  overflow-y: scroll;
}

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  size: 40px;
}

section {
  width: 100vw;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: inherit;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.particleContainer {
  height: 100vh;
  width: 100vw;
}

#tsparticles {
  height: 100%;
  margin-bottom: 0;
}
.introduction {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}

@mixin mobile {
  @media (max-width: 599px) {
    @content;
  }
}
